{% extends 'base.html' %}
{% block title %}Оставить отзыв{% endblock %}
{% block content %}
  <h1>Оставить отзыв</h1>
  <form method="post" class="card">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <label>Имя</label>{{ form.name }}{{ form.name.errors }}
    <label>Email</label>{{ form.email }}{{ form.email.errors }}
    <label>Сообщение</label>{{ form.message }}{{ form.message.errors }}
    <button type="submit">Отправить</button>
  </form>
  <p><a href="{% url 'feedback-list' %}">Перейти к списку отзывов</a></p>
{% endblock %}
